{% extends "SdzBlogBundle::layout.html.twig" %}

{% set pages = page|default(null) %}
 
{% block title %}
  {{ 'title.cv'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
	{% block subtitle %}
		<h1>{{ 'title.cv'|trans }}</h1>
	{% endblock %}
	
	<div id="stats-pages">
		<table id="myTable" class="tablesorter"> 
			<thead> 
				<tr> 
				    <th>Page Name</th> 
				    <th>Visits</th> 
				</tr> 
			</thead> 
			<tbody> 
				{% for page in pages %}
					<tr> 
					    <td>{{ page.nom }}</td> 
					    <td>{{ page.visits }}</td> 
					</tr> 
				{% endfor %}
			</tbody> 
		</table> 
	</div>
{% endblock %}
