<h3 class="header">{{ 'hello.world' | trans }}</h3>

<div class="presentation indent well">
	<p class="paragraph">{{ 'presentation.phrase.first' | trans }}</p>
	<p class="paragraph">{{ 'presentation.phrase.second' | trans }}</p>
	<p class="paragraph">{{ 'presentation.phrase.third' | trans }}</p>
	<p class="paragraph">{{ 'presentation.phrase.fourth' | trans }}</p>
	<p class="paragraph">{{ 'presentation.phrase.fifth' | trans }}</p>
</div>

<div class="bouton">
	<p><a href="{{ path('sdzblog_ajouter_comment') }}" class="button small pop1">{{ 'button.comment.add' | trans }}</a></p>
	<p><a href="{{ path('sdzblog_ajouter_message') }}" class="button small pop2">{{ 'button.message.add' | trans }}</a></p>
</div>
