{% extends "SdzBlogBundle::layout.html.twig" %}
 
{% block title %}
  {{ title }} - {{ parent() }}
{% endblock %}
 
{% block sdzblog_body %}
 
  <h2>{{ title }}</h2>
  <p>{{ message }}</p>
 
  <form action="{{ path(suppressionUrl, {'id': bean.id}) }}" method="post">
    <a href="{{ path(detailUrl, {'id': bean.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      {{ returnButtonText }}
    </a>
    <input type="submit" value="{{ 'button.delete.label'|trans }}" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
 
{% endblock %}
